<div style="display: flex; justify-content: center; font-family: Inter, sans-serif; padding-top: 50px; padding-bottom: 50px;">
  <div style="width: 90%; margin: 0 auto; border-radius: 10px; padding: 25px;">
    <div style="margin-bottom: 16px;">
      <div style="display: inline-block; font-size: 20px; line-height: 20px; padding-bottom: 1px; color: black; font-weight: 500;">
        Nemory
      </div>
    </div>
    <h1 style="font-size: 32px; font-weight: 600; color: black; margin-bottom: 10px;">Скинути PIN-код</h1>
    <p style="font-size: 14px; color: #AAAAAA; margin-bottom: 20px;">Код для скидання PIN-коду. Якщо це не Ви, проігноруйте цей лист. Код втрачає чинність через 15 хвилин.</p>
    <div>
        Код: <span style="font-weight: 600; color: black;">{{code}}</span>
    </div>
    <div style="border-top: 1px solid #EFEFEF; margin-bottom: 20px; width: 100%; height: 1px;"></div>
    <p style="font-size: 14px; color: #AAAAAA; margin-bottom: 70px;">Nemory team</p>

    <div style="font-size: 14px; color: #AAAAAA; margin-bottom: 0;">
      <p>Copyright © 2025 Nemory. All rights reserved</p>
    </div>
  </div>
</div>

