<div style="display: flex; justify-content: center; font-family: Inter, sans-serif; width: 100%; padding-top: 50px;">
  <div style="width: 50%; margin: 0 auto; background-color: #2A2A2A; border-radius: 10px; padding: 25px;">
    <div style="margin-bottom: 16px;">
      <div style="display: inline-block; font-size: 20px; line-height: 20px; padding-bottom: 1px; color: white; font-weight: 500; border-bottom: 4px solid #5ED155;">
        MY PRIEST
      </div>
    </div>
    <h1 style="font-size: 32px; font-weight: 600; color: #FFFFFF; margin-bottom: 10px;">Скинути пароль</h1>
    <p style="font-size: 14px; color: #AAAAAA; margin-bottom: 20px;">Щоб встановити новий пароль: просто натисніть кнопку Скинути пароль нижче:</p>
    <div>
      <a href='{{link}}' style="display: inline-block; padding: 10px 0; background-color: #5ED155; color: #FFFFFF; font-size: 16px; font-weight: 500; border-radius: 12px; margin-bottom: 20px; text-decoration: none; text-align: center; width: 100%;">Скинути пароль</a>
    </div>
    <div style="border-top: 1px solid #EFEFEF; margin-bottom: 20px; width: 100%; height: 1px;"></div>
    <p style="font-size: 14px; color: #AAAAAA; margin-bottom: 70px;">Термін дії цього посилання закінчується через 24 години. Після цього необхідно подати новий
      запит на скидання пароля. Ви можете сміливо ігнорувати його, якщо не хочете скидати його.</p>
    <div style="display: flex; gap: 10px; font-size: 14px; font-weight: 500; color: #FFFFFF; margin-bottom: 10px;">
      <a href='#' style="color: #FFFFFF; text-decoration: none; margin-right: 15px">Умови використання</a>
      <a href='#' style="color: #FFFFFF; text-decoration: none;">Політика конфіденційності</a>
    </div>

    <div style="font-size: 14px; color: #AAAAAA; margin-bottom: 0;">
      <p>Copyright © 2024 Spirit Bridge. All rights reserved</p>
    </div>
  </div>
</div>